* {
  font-family: monospace;
}

form {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 0 auto;
  max-width: 768px;
}

img {
  max-width: 400px;
  height: auto;
}


nav {
  display: flex;
  background-color: slategrey;
  border-bottom: 5px solid black;
  justify-content: space-between;
  padding: 10px;
}

#card {
  padding: 15px;
  margin: 5px;
  border: 5px solid black;
}