* {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.welcome {
  display: flex;
  background-image: url("https://i.imgur.com/hf08J1b.jpg");
  background-size: cover;
  height: 100vh;
  align-content: center;
  
}
.message {
  background-color: #f4f4f4;
  margin: 50px auto auto auto;
  padding: 10px;
  width: 40vw;
  
}

.carForm {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 0 auto;
  max-width: 768px;
}

img {
  max-width: 400px;
  height: auto;
}

input {
  width: 100%;
}


nav {
  display: flex;
  flex-direction: row;
  background-color: turquoise;
  justify-content: space-between;
  padding: 10px;
}
.navlink {
  text-decoration: none;
  margin-top: 20px;
}
.navlink:visited {
  color: black;
  text-decoration: none;
}

.navlink:hover {
  color: white;
}

#card {
  padding: 15px;
  margin: 5px;
  border: 5px solid black;
  max-width: fit-content;
}

#carLink {
  color: black;
  text-decoration: none;
}

#carLink:hover {
  background-color: darkorange;
  width: fit-content;
}

#comment {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 5px;
  border: 5px solid black;
  max-width: fit-content;
}

#info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90vw;
  margin: 0 auto;
  max-width: 768px;
  padding: 15px;
}

.question {
  text-align: center;
  padding: 10px;
  margin: 10px;
}